* {
  margin: 0;  
}
.main-container {
  min-height: 100vh;
  
  
}
/*footer {
      background-color: #FEF279; 
      display: flex; 
      align-items: center;
      justify-content: center;
      height: 150px;
      margin-top: 2em;
}*/
